/* 
body{
    background-color: rgb(16, 80, 16);
}
.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
} */


.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}
